@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@mixin button {
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.524rem;
  cursor: pointer;
}

@mixin input {
  border: none;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
